* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44a6c6;
    position: relative;
    overflow: hidden;
}

#card {
    width: 0;
    height: 0;
    border-top: 100px solid #e8f4f8;
    border-right: 170px solid #c1e1ec;
    border-bottom: 100px solid #c1e1ec;
    border-left: 170px solid #c1e1ec;
    box-shadow: 10px 10px 5px #3793b2;
}

.heart {
    width: 32px;
    height: 32px;
    background-color: #ff1414;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: heartbeat 1.4s infinite;
    cursor: pointer;
}

.heart:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateX(-50%);
    border-radius: 50%;
}

@keyframes heartbeat {
    0% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }

    25% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }

    30% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
    }

    50% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
    }

    70% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
    }

    100% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
}

.heart1 {
    width: 32px;
    height: 32px;
    background-color: #ff1414;
    transform: translate(-50%, -160%) rotate(45deg);
}

.heart1:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateX(-50%);
    border-radius: 50%;
}


.heart1 {
    animation: heart1 2.5s ease-out 1s infinite;
}

@keyframes heart1 {
    0% {
        transform: translateY(-200%) translateX(0) scale(0.25) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-400%) translateX(0) scale(1) rotate(50deg);
        opacity: 0;
    }
}

.heart2 {
    width: 32px;
    height: 32px;
    background-color: #ff1414;
    transform: translate(-50%, -250%) rotate(45deg);
}

.heart2:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart2:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateX(-50%);
    border-radius: 50%;
}

.heart2 {
    animation: heart2 4s ease-out 1s infinite;
}

@keyframes heart2 {
    0% {
        transform: translateY(-300%) translateX(-100%) scale(0.25) rotate(-20deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(-500%) translateX(-10%) scale(1) rotate(45deg);
        opacity: 0;
    }
}

.heart3 {
    width: 32px;
    height: 32px;
    background-color: #ff1414;
    transform: translate(-50%, -350%) rotate(45deg);
}

.heart3:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart3:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateX(-50%);
    border-radius: 50%;
}

.heart3 {
    animation: heart3 2s ease-out 1s infinite;
}

@keyframes heart3 {
    0% {
        transform: translateY(-430%) translateX(-100%) scale(0.25) rotate(20deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(-650%) translateX(-10%) scale(1) rotate(60deg);
        opacity: 0;
    }
}

.heart4 {
    width: 32px;
    height: 32px;
    background-color: #ff1414;
    transform: translate(-50%, -450%) rotate(45deg);
}

.heart4:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart4:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    transform: translateX(-50%);
    border-radius: 50%;
}


.heart4 {
    animation: heart4 2.3s ease-out 1s infinite;
}

@keyframes heart4 {
    0% {
        transform: translateY(-450%) translateX(-100%) scale(0.25) rotate(45deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(-750%) translateX(-10%) scale(1) rotate(80deg);
        opacity: 0;
    }
}

.animation__item {
    position: absolute;
    display: inline-block;
    background: #2bcf01;
    color: #ffffff;
    font-family: "arial";
    border-radius: 20px;
    padding: 8px 20px;
    animation: animation 1s ease-out;
}

.animation__item1 {
    position: absolute;
    display: inline-block;
    background: #2bcf01;
    color: #ffffff;
    font-family: "arial";
    border-radius: 20px;
    padding: 8px 20px;
    animation: animation1 5s ease-out 1s infinite;
}

.animation__item2 {
    position: absolute;
    display: inline-block;
    background: #2bcf01;
    color: #ffffff;
    font-family: "arial";
    border-radius: 20px;
    padding: 8px 20px;
    animation: animation2 1s ease;
}

@keyframes animation {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    75% {
        transform: scale(9);
        opacity: 1;
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

@keyframes animation1 {
    0% {
        transform: translateY(-450%) scale(0.25);
        opacity: 0.5;
    }

    100% {
        transform: translateY(-750%) scale(1);
        opacity: 2;
    }
}

@keyframes animation2 {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    75% {
        transform: scale(9);
        opacity: 1;
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}